@font-face {
	font-family: 'Source Sans Pro';
	src:
    url('../fonts/SourceSansPro-Black.eot'),
    url('../fonts/SourceSansPro-Black.ttf'),
    url('../fonts/SourceSansPro-Black.woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src:
    url('../fonts/SourceSansPro-BlackItalic.eot'),
    url('../fonts/SourceSansPro-BlackItalic.ttf'),
    url('../fonts/SourceSansPro-BlackItalic.woff');
  font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Source Sans Pro';
	src:
    url('../fonts/SourceSansPro-Bold.eot'),
    url('../fonts/SourceSansPro-Bold.ttf'),
    url('../fonts/SourceSansPro-Bold.woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src:
    url('../fonts/SourceSansPro-BoldItalic.eot'),
    url('../fonts/SourceSansPro-BoldItalic.ttf'),
    url('../fonts/SourceSansPro-BoldItalic.woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Source Sans Pro';
	src:
    url('../fonts/SourceSansPro-SemiBold.eot'),
    url('../fonts/SourceSansPro-SemiBold.ttf'),
    url('../fonts/SourceSansPro-SemiBold.woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src:
    url('../fonts/SourceSansPro-SemiBoldItalic.eot'),
    url('../fonts/SourceSansPro-SemiBoldItalic.ttf'),
    url('../fonts/SourceSansPro-SemiBoldItalic.woff');
	font-weight: 600;
	font-style: italic;
}


@font-face {
	font-family: 'Source Sans Pro';
	src:
    url('../fonts/SourceSansPro-Regular.eot'),
    url('../fonts/SourceSansPro-Regular.ttf'),
    url('../fonts/SourceSansPro-Regular.woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src:
    url('../fonts/SourceSansPro-Italic.eot'),
    url('../fonts/SourceSansPro-Italic.ttf'),
    url('../fonts/SourceSansPro-Italic.woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Source Sans Pro';
	src:
    url('../fonts/SourceSansPro-Light.eot'),
    url('../fonts/SourceSansPro-Light.ttf'),
    url('../fonts/SourceSansPro-Light.woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src:
    url('../fonts/SourceSansPro-LightItalic.eot'),
    url('../fonts/SourceSansPro-LightItalic.ttf'),
    url('../fonts/SourceSansPro-LightItalic.woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Source Sans Pro';
	src:
    url('../fonts/SourceSansPro-ExtraLight.eot'),
    url('../fonts/SourceSansPro-ExtraLight.ttf'),
    url('../fonts/SourceSansPro-ExtraLight.woff');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src:
    url('../fonts/SourceSansPro-ExtraLightItalic.eot'),
    url('../fonts/SourceSansPro-ExtraLightItalic.ttf'),
    url('../fonts/SourceSansPro-ExtraLightItalic.woff');
	font-weight: 200;
	font-style: italic;
}






.all-about {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.sitesystem {
  display: flex;
  position: relative;
}

/* header */

.sitehead {
  width: 350px;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  padding: 2vw;

  background-color: #452d79;

  color: #ffffff;
  text-align: right;
  font-size: 1vw;
  box-sizing: border-box;
  padding-right: 0;
}

.sitehead__logo {
  position: relative;
  margin-bottom: 5vw;
  padding-right: 2vw;
}

.sitehead__img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;

  background-image: url("../img/prtrt.jpg");
  background-size: cover;
}

.img50 {
  width: 50px;
  height: 50px;
}

.sitehead__title {
  margin: 0;
  padding: 0;

  font-size: 1.5vw;
}

.sitehead__text {
  margin: 0;
  padding: 0;

  font-size: 0.7em;
  font-weight: 400;
}

.sitehead__menu {
  margin: 0;
  padding: 0;

  list-style: none;
}

.sitehead__item {
  width: 100%;
}

.sitehead__item:hover {
  background-color: #230F4Faa;

}

.sitehead__item a {
  display: block;

  width: 100%;
  padding: 1vw 2vw 1vw 2vw;
  box-sizing: border-box;

  color: #ffffff80;
  text-decoration: none;
  font-weight: 300;
}

.sitehead__item a:hover {
  color:#ffffff;
}

/* end header */

/* content */

.content {
  margin-left: 350px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
}

.block {
  margin: 0;
  padding: 0;

  background-color: #ff000040;
  /*! border: 1px solid red; */

  display: flex;
  flex-direction: column;
}

.block__subtitle {
  margin: 0;
  padding: 0;

  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 3vw;
  letter-spacing: -1px;
  text-align: center;
}

.intro {
  background: url("../img/backdark.jpg"),#907bbc9d;
  background-size: cover;
  background-repeat: no-repeat, repeat;
  color: #ffffff;
  padding: 10vw 5vw;
  background-blend-mode: color;
  align-items: center;
}

.intro__text {
  width: 60vw;
  margin: 0;
  padding: 2em 2em 0 2em;

  font-weight: 200;
  hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;

  background-color: #452d7999;
  line-height: 2em;
}

.intro p:last-of-type {
  margin-bottom: 3vw;
  padding-bottom: 2em;
}

.btn {
  margin: 0;
  padding: 5px;
  outline: none;
  background: #e4524faa;

  width: 300px;
  max-height: 200px;

  font-size: 1.2em;
  line-height: 3em;
  border: 2px #e4524f solid;
  border-radius: 20px;
}

.projects {
  background-color: #907BBC90;
}

.skills {
  background-color: #907BBCbb;
}

.contacts {
  background-color: #907BBC;
}
/* end content */


.sidebottom {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 350px;
  position: fixed;
  z-index: 2;

  color: #ffffff;
}
