@font-face {
  font-family: 'Russo One';
  src:
    url(../fonts/RussoOne-Regular.woff),
    url(../fonts/RussoOne-Regular.eot);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Yanone Kaffeesatz';
  src:
    url(../fonts/YanoneKaffeesatz-Thin.woff),
    url(../fonts/YanoneKaffeesatz-Thin.eot);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Yanone Kaffeesatz';
  src:
    url(../fonts/YanoneKaffeesatz-Light.woff),
    url(../fonts/YanoneKaffeesatz-Light.eot);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Yanone Kaffeesatz';
  src:
    url(../fonts/YanoneKaffeesatz-Regular.woff),
    url(../fonts/YanoneKaffeesatz-Regular.eot);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Yanone Kaffeesatz';
  src:
    url(../fonts/YanoneKaffeesatz-Bold.woff),
    url(../fonts/YanoneKaffeesatz-Bold.eot);
  font-weight: 600;
  font-style: normal;
}

html {
  scroll-padding-top: 220px;
}

.all-about {
  height: 100%;
  max-width: 1160px;
  margin: 0 auto;
  background-image:
    repeating-linear-gradient(0deg,
    rgba(251, 206, 177, 0.5) 0px,
    rgba(200, 100, 50, 0.5) 2px,
    rgba(191, 191, 191, 0.5) 2px),
    repeating-linear-gradient(90deg,
    rgba(251, 206, 177, 0.5) 0px,
    rgba(213, 110, 30, 0.5) 2px,
    rgba(200, 100, 50, 0.5) 2px,
    rgba(191, 191, 191, 0.5) 2px);
  box-sizing: border-box;
  position: relative;
}

.fro {
  font-family: 'Russo One', sans-serif;
}

.fyk {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.sitesystem {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(12, 70px);
  grid-template-rows: 80px auto;
  box-sizing: inherit;
  position: relative;
  grid-gap: 30px;
}

.sitehead__wrapper {
  background-color: #000000;
  box-sizing: inherit;
  padding: 10px 15px 0 15px;
  grid-column: 1/-1;
  grid-row: 1/2;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}

.sitehead {
  display: flex;
  box-sizing: inherit;
  width: 100%;
  align-items: center;
  z-index: 2;
}

.sitehead__img {
  width: 60px;
  height: 60px;
  margin-right: 30px;
}

.sitehead__title {
  font-size: 16px;
  color: #fbceb1;
  margin: 0;
  flex-shrink: 0;
  margin-right: 60px;
}

.sitehead__menu {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-self: center;
  width: 800px;
  margin: 0;
}

.sitehead__item {
  color: #fbceb1;
}

.sitehead__item a {
  color: #fbceb1;
  text-decoration: none;
}

.sitehead__item a:hover, .sitehead__item a:active, .sitehead__item a:focus {
  color: #fbceb1;
  text-decoration: underline;
}

.sitehead__sign {
  width: 55px;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  margin-left: 60px;
}

.btn {
  margin: 0;
  padding: 0;
  background: none;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 14px;
  border-radius: 15px;
  height: 30px;
}

.sign-in-button {
  width: 100%;
  color: #fbceb1;
  border-color: #fbceb1;
}

.menu__item a {
  color: #2b5a51;
  text-decoration: none;
  position: relative;
  font-size: 20px;
}

.menu__item a:hover,
.menu__item a:focus {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 20px 80px green;
}

.content {
  box-sizing: inherit;
  display: contents;
  grid-column: 1/-1;
  grid-row-start: 2;
}

.block:nth-child(odd) {
  background-color: #fbceb1;
}

.block:nth-child(odd) .block__subtitle {
    color: #8b4513;
}

.block:nth-child(even) {
  background-color: #8b4513;
}

.block:nth-child(even) .block__subtitle {
    color: #fbceb1;
}

.block {
  position: relative;
  display: flex;
  padding: 30px;
}

.block__subtitle {
  margin: 0;
  padding: 0;
  margin-left: 10%;
  margin-right: 10%;
  width: 20%;
  box-sizing: inherit;
  font-size: 48px;
  line-height: 36px;
  margin-bottom: 30px;
}

.aboutme {
  margin: 0;
  flex-direction: row;
  flex-wrap: wrap;
  grid-column: 1/-1;
  grid-row: 2/3;
}

.aboutme::before {
}

.aboutme__photo {

}

.aboutme__pic {
  box-shadow: 0 15px 15px 1px #8b4513;
  height: 400px;
  position: relative;
}

.aboutme__info {
  box-sizing: inherit;
}

.aboutme__table {
  width: 100%;
  height: 300px;
  background: #fdd9b5 0 0 no-repeat;
  background-size: cover;
  padding: 20px;
  border-spacing: 5px;
  box-shadow: 0 13px 13px 5px #8b4513;
  position: relative;
}

.aboutme__line {}

.aboutme__question {
  font-size: 20px;
  font-weight: 400;
}

.aboutme__answer {
  font-size: 20px;
  font-weight: 300;
}

.projects {grid-column: 1/-1;grid-row: 4/5;flex-direction: column;}

.projects__types {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 10px 0 0;
  list-style: none;
  margin-bottom: 30px;
  margin-left: 10%;
  width: 50%;
}

.projects__button {
  color: #8b4513;
  border-color: #8b4513;
  width: 100px;
  padding: 0 5px 0 5px;
}

.projects__button:hover, .projects__button:focus, .projects__button:active {
  color: #fbceb1;
  background-color: #8b4513;
}

.projects__button--active {
  color: #fbceb1;
  background-color: #8b4513;
}

.projects__category {
  margin-right: 20px;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.projects__box {
  width: 30%;
  box-shadow: 0 15px 15px 1px #8b4513;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.projects-name {
  font-size: 32px;
  color: #8b4513;
  margin: 0;
  padding: 0;
  line-height: 60px;
  text-align: center;
}

.projects__link {text-decoration: none;}

.projects__view {
  position: relative;
  height: 300px;
  padding: 20px;
  box-sizing: content-box;
  background-repeat: no-repeat;
  background-position: center;
}

.projects__001 {
  background-image: url("../img/rizor.png");
}

.projects__001::before {
  content: "RIZOR, учебный проект HTMLAcademy";
  color: aliceblue;
  /*! text-decoration-line: underline; */
}

.projects__001:hover::before {
  display: block;
  font-size: 2vw;
  color: #fbceb1;
}

.projects__001 a:hover {
  text-decoration: none;
  text-decoration-line: none;
}

.projects__001:hover::after {
  display: block;
}

.projects__002 {}

.projects__003 {}

.skills {grid-column: 1/-1;grid-row: 3/4;}

.thx {grid-column: 1/-1;grid-row: 5/6;}

.contacts {grid-column: 1/-1;grid-row: 6/7;}

.sidebottom {
  margin-top: 100px;
}
