.contacts {}

.contacts__form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.form__field {
    width: 100%;
    border: none;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.form__item {
    margin: 2rem 0 0 0;
    background-color: $elemside;
    border-radius: 0.35rem;
    border: solid 1px #00000026;
    padding: 0.75rem 1rem;
    width: 40%;
}

input,
textarea,
select {
    line-height: 2rem;
    color: $inpcolor;
}

.form__data {}

.yourparameters {}

.yourword {}

.yoursubmit {
    justify-content: center;
}

#yourname {}

#youremail {}

#yourmessage {
    flex-grow: 1;
}

.btn__sendmessage {
    color: #ffffff;
    min-width: 120px;
    margin: 2rem 0 0 0;
    padding: 0.25rem 1rem 0.25rem 1rem;
    width: auto;
    background: #8ebebc;
    border: 0;

    &:hover,
    &:focus,
    &:active {
        color: $elemmain;
        background: $buthover;
    }
}